$content { padding:10px 20px; }
$content>div.message { padding:0px; overflow:auto; }
$content>div.message>div.request { background-color:#94ec69; color:black; padding:10px; float:right; clear:both; }
$content>div.message>div.request>span { float:right; }
$content>div.message>div.response { padding:0px; clear:both; }
$content>div.message>div.response p { margin:5px 0; }
$content>div.request { padding-top:10px; }